* {
    margin: 0;
    padding: 0;
}
section {
    display: flex;
    height: 1000px;
}
h1 {
    margin-bottom: 10px;   
    font-size: 24pt; 
}
nav {
    overflow-y: auto;
    width: 30%;
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
    flex-flow: row wrap;
}
main {
    overflow-y: auto;
    width: 70%;
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
    flex-flow: row wrap;
}
nav>div {
    padding: 5px;
    margin-bottom: -2px;
    border: 2px  solid  black;  
}
nav>div:hover{
    background-color: lightblue;    
}
img {
    width: 30%;
    margin: 10px;
}
.clicked{
    background-color: cornflowerblue;    
}


